html {
  background-color: rgb(153, 153, 153);
}

.container {
  margin: 20px;
  display: grid;
  grid-template-columns: [hd-start] repeat(4, [col-start] 1fr [col-end]) [hd-end];
  grid-template-rows: [hd-start row-1-start] 100px [hd-end row-1-end row-2-start] 200px [row-2-end] 300px;
  grid-gap: 20px;
  grid-template-areas:
    "number name family age"
    "one one two three"
    "bottom end like feel";
}

.el1 {
  background-color: rgb(173, 219, 204);
}
.el2 {
  background-color: rgb(173, 201, 219);
}
.el3 {
  background-color: rgb(215, 173, 219);
  grid-area: like;
  align-self: center;
  justify-self: center;
}
.el4 {
  background-color: rgb(219, 216, 173);
  /* grid-column-start: 3;
  grid-column-end: 5; */
  /* grid-row-start: row-1-start;
  grid-row-end: row-2-end; */
}

.column {
  display: flex;
  height: 300px;
  background-color: rgb(226, 224, 204);
  align-items: center;
  justify-content: center;
}

.mel i {
  font-size: 50px;
  color: red;
  margin: auto;
}

.mel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mel h2,
.mel p {
  text-align: center;
}

nav .container-fluid {
  margin: 0 10%;
}

.prime {
  margin-right: 10px;
}

.one {
  width: 500px;
  height: 200px;
  background-color: red;
  overflow: hidden;
}
.two {
  width: 700px;
  height: 100px;
  background-color: green;
}

@media (max-width: 900px) {
  h2 {
    color: red;
  }
}

.rest {
  color: yellowgreen;
  font-size: 50px;
}
